@import '../themes.scss';
.page-container{
  margin-top: 3em;
  text-align: center;
  color: #21A3BF;
}
.subtitle{
  font-size: 4vw;
}
.heading{
  color: $teal;
  font-size: 10vw;
}
.terms{
  padding-bottom: 2em;
  font-size: 3vw;
}

.checkbox{
  position:relative; 
  top: 0.2em;
}