@import '../themes.scss';
.splash-container{
  margin: 2em;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 2fr 0.5fr 0.5fr;
  
  .splash-image{
    width: clamp(50%, 90%, 100%);
  }

  .sign-up{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 1em;
    .ant-btn-primary, .ant-btn-primary:focus {
      background-color: $blue;
      border: none;
      width: clamp(50%, 75%, 100%);
      height: clamp(50%, 90%, 100%);
      box-shadow: 0px 0.1em 0.5em $shadow;
      border-radius: 1em; 
      font-size: 4vw;
      font-weight: bolder;
    }
  }
  .login{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 1em;
    .ant-btn-primary, .ant-btn-primary:focus {
      background-color: white;
      border: 0.1em solid $blue;
      color: $blue;
      width: clamp(50%, 75%, 100%);
      height: clamp(50%, 90%, 100%);
      box-shadow: 0px 0.1em 0.5em $shadow;
      border-radius: 1em; 
      font-size: 4vw;
      font-weight: bolder;
    }
  }
}