@import '../themes.scss';
.header-container{
  position: relative;
  padding: 2em;
  text-align: center;
  // font-family: 'Noto Sans JP', sans-serif;

  .logo-container{
    width: clamp(20%, 105%, 120%);
    height: clamp(20%, 100%, 100%);
    padding: 0.5em 0em 1em 0em;
    display: flex;
    justify-content: flex-end;

    .header-image{
      position: absolute;
      width: clamp(20%, 25%,30%);
    }
  }
  .header-title{
    font-size: 10vw;
    font-weight: bolder;
  } 

  .header-tagline{
    font-size: 4vw;
    line-height: 2em;
  }
}
