@import '../themes.scss';
body{
    margin-top: 3em;
    text-align: center;
    color: #21A3BF;
}
.heading{
    color: $teal;
    font-size: 10vw;
}
.terms{
    padding-bottom: 2em;
    font-size: .5rem;

}

.checkbox{
    position:relative; 
    top: .12rem
}