@import '../themes.scss';

.profile-title{
  padding: 1em 0em 0.5em 0.5em;
  font-size: 5vw;
  font-weight: bold;
}
.home-title{
  padding: 0.5em 0em 0em 1em;
  font-size: 8vw;
  font-weight: bold;
  color: $teal;
}