$teal: #97E6F1;
$purple: #9177F8;
$medGrey: #B8BFC7;
$darkTeal: #21A3BF;
$shadow: rgba(134, 149, 203, 0.5);
$login: #71C3E6;
$lightGrey: #ECF2F7;
$silver: #C7D4E7;
$blue: #577EF4;
$gold: #FFB800;

:export{
  teal: $teal;
  purple: $purple;
  medGrey: $medGrey;
  darkTeal: $darkTeal;
  shadow: $shadow;
  login: $login;
  lightGrey: $lightGrey;
  silver: $silver;
  blue: $blue;
  gold: $gold;
}
